<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Oquonie AppleTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Oquonie Desktop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Oquonie iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Oquonie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03BBFAA7178A9E4E00E79C3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57013B8A1A7954E800612048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57013B9F1A7954E800612048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>571A8C681A79341D008E846E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>571A8C7D1A79341D008E846E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A668161BEE9770007CDD8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A668301BEE982D007CDD8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A668461BEE9894007CDD8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A668601BEE98AA007CDD8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
